<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta content="width=device-width,initial-scale=1" name="viewport"/>
    <title>
      {% block title %}{% endblock title %}
    </title>
    <link href="/static/bundle.css" rel="stylesheet"/> {% block meta %}{% endblock meta %}
    </head>
    <body class="bg-blue-900 text-gray-50">
      <div class="bg-gray-900 h-10 flex flex-row flex-nowrap text-center">
        <a class="ml-4" href="/">
          <p class="my-2">Home</p>
        </a>
      </div>
      {% block content %}{% endblock content %}
    </body>
  </html>
</body></html>