<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta content="width=device-width,initial-scale=1" name="viewport"/>
    <title>List of people</title>
    <link href="/static/bundle.css" rel="stylesheet"/>
  </head>
  <body class="bg-blue-900 text-white">
    <div>
      {% for person in people %}
        <a href={{ "person/" ~ person.uid }}>
          <div>
            <div>
              <h3>{{ person.name }}</h3>
            </div>
            <p>UID: {{ person.uid }}</p>
            <p>Age: {{ person.age }}</p>
            <div>
              <p>Friends: {{ person.number_of_friends }}</p>
            </div>
          </div>
        </a>
      {% endfor %}
    </div>
  </body>
</html></body></html>