<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta content="width=device-width,initial-scale=1" name="viewport"/>
    <title>{{ name }}</title>
    <link href="/static/bundle.css" rel="stylesheet"/>
  </head>
  <body>
    <div>
      <a href="/">Go home</a>
    </div>
    <div>
      <div>
        <div>
          <h3>{{ name }}</h3>
        </div>
        <p>UID: {{ uid }}</p>
        <p>Age: {{ age }}</p>
        <div>
          <p>Friends: {{ number_of_friends }}</p>
          {% if number_of_friends > 0 %}
            <div>
              {% for person in friend %}
                <div>
                  <p>{{ person.name }}</p>
                  <p>UID: {{ person.uid }}</p>
                  <p>Age: {{ person.age }}</p>
                </div>
              {% endfor %}
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </body>
</html>